doctype html
html
  head
    title= title
  body
    h1= title
    if message
      p(style="color: red") #{message}
    form(method="POST", action=`/edit/${note.id}`)
      label(for="note") Sửa ghi chú:
      input(type="text", name="note", id="note", value=note.text)
      button(type="submit") Lưu
    a(href="/") Quay lại trang chủ
